@model MVC_Learning_Session_1.Models.Student
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
@using (Html.BeginForm("SubmitData", "Student", FormMethod.Post))
{
    <h2>Index Student Details with Subjects using MVC</h2>
    <div class="container form-group">
        @*<Label class="form-control">Id: @Model.Id</Label>*@
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id)
 
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
       
        <div class="row" id="subjectlist">
            <table class="table table-bordered table-striped" id="grid">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @*Solved using for loop - it allows to data using model binding  whereas getting issues with foreach*@
                    @{ 
                        for(var i = 0; i < Model.Subjects.Count; i++)
                        {
                    <tr>
                        <td>@Html.CheckBoxFor(m => Model.Subjects[i].IsSelected)</td>
                        <td>@Html.TextBoxFor(m => Model.Subjects[i].SubjectId)</td>
                        <td>@Html.TextBoxFor(m => Model.Subjects[i].SubjectName)</td>
                        <td>@Html.CheckBoxFor(m => Model.Subjects[i].Status)</td>
                    </tr>
                        }
                    }
                    @*model binding not working while post data*@


                </tbody>
            </table>
        </div>
        <div class="form-group">
            <input type="submit" value="submit" />
        </div>
        <div class="row">
            <table id="tb1" name="tb1" class="table table-bordered" >
                <tr>
                    <td>
                        <input type="checkbox" id="chk1" name="chk1" value="checked" />
                    </td>
                    <td>
                        <input type="text" id="txt1" name="txt1" value="101" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="chk1" name="chk1" />
                    </td>
                    <td>
                        <input type="text" id="txt1" name="txt1" value="102" />
                    </td>
                </tr>
            </table>
            <input type="button" id="btn1" name="btn1" value="Iterate Table Row" />
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        //alert('hello');
        //Learned from reference - https://stackoverflow.com/questions/7744449/how-to-convert-this-javascript-string-into-javascript-array-object
        var data1 = JSON.parse( GetJSONData());
        //alert(data1);
        //console.log(data1);
        //data1 = { "Id": 101, "Name": "Narayan", "Subjects": [{ "SubjectId": 201, "SubjectName": "C Language", "Status": true, "IsSelected": true }] };
               // { "Id": 101, "Name": "Narayan", "Subjects": [{ "SubjectId": 201, "SubjectName": "C Language", "Status": true, "IsSelected": true }] }
        $.ajax({
            datatype: 'json',
            type: 'post',
            url: '/Student/SubmitData',     //Submitted using method to pass data as a string
            data: data1, //{"Id": 101, "Name": "Narayan", "Subjects": [{ "SubjectId": 201, "SubjectName": "C Language", "Status": true, "IsSelected": true }]},
            success: function (result) {
                //alert(result);
            }
        });

    });
    function GetJSONData() {
        var StudentList = new Object();
        var Subject = new Object();
        StudentList.Id = 101;
        StudentList.Name = "Narayan";
        Subject.SubjectId = 201;
        Subject.SubjectName = "C Language";
        Subject.Status = true;
        Subject.IsSelected = true;

        StudentList.Subjects = [];
        StudentList.Subjects.push(Subject);

        var Subject = new Object();
        Subject.SubjectId = 301;
        Subject.SubjectName = "C++";
        Subject.Status = true;
        Subject.IsSelected = false;
        StudentList.Subjects.push(Subject);

       // console.log(JSON.stringify(StudentList));
       // var jsonstring = '{"Id":101,"Name":"Tapan1","Subjects":[{"SubjectId":1,"SubjectName":"Math","Status":true,"IsSelected":true}]}';
        //console.log((jsonstring));
        //return (jsonstring);

        return (JSON.stringify(StudentList));
       // return StudentList;
    }
    $("#btn1").click(function () {
        alert("Hello Table");
        var parameters = [];
        $('#tb1 tr').each(function () {
            var td = $('td', this);
            parameters.push({
                //id: $('input[name="chk1"]', td).is(':checked')
                id: $('input[name="chk1"]', td).prop("checked"),
                name: $('input[name="txt1"]', td).val()
            });
        })
        console.log(parameters);
    });
</script>

